
/* The top level dialog (a Container) */
#dialog {
    margin: 1 2;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
}
.form {
    height: auto;
    margin: 1 0;
    padding: 1 2;
    layout: grid;
    grid-size: 2;
    grid-rows: 4;
    grid-columns: 13 1fr;
    background: $boost;
    border: wide $background; 
}

.form Button{
    margin: 1 1;
    /* width: 100%; */
    width: 1fr;
}

.form .label {
    padding: 1 2;
    text-align: right;
}



